In [1]:
pip install pandas sqlalchemy mysql-connector-python

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 393.8 kB/s eta 0:00:37
   ---------------------------------------- 0.1/14.3 MB 585.1 kB/s eta 0:00:25
    --------------------------------------- 0.3/14.3 MB 1.5 MB/s eta 0:00:10
   -- ------------------------------------- 0.7/14.3 MB 3.2 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/14.3 MB 3.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.7/14.3 MB 5.1 MB/s eta 0:00:03
   ----- ---------------------------------- 2.0/14.3 MB 5.6 MB/s eta 0:00:03
   ------ --------------------------------- 2.3/14.3 MB 5.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.8/14.3 MB 5.9 MB/s eta 0:00:02
   --------- ------------------------------ 3.3/14.3 MB 6.3 MB/s eta 0:00:02
   ---------- ----------------------------- 3.7/14.3 MB 6.7 MB/s eta 0:00:02
   ----------- ---------------------------- 4.2/14.3 MB 7.0 MB/s eta 0:00:02
   ------------- -------------------------- 4.7/14.3 MB 7.3 MB/s eta 0:00:02
   -------------- ------------------------- 5.2/14.3 MB 7.5 MB/s eta 0:00:02
   --------------- ------------------------ 5.7/14.3 MB 7.7 MB/s eta 0:00:02
   ----------------- ---------------------- 6.2/14.3 MB 7.9 MB/s eta 0:00:02
   ------------------ --------------------- 6.7/14.3 MB 8.1 MB/s eta 0:00:01
   ------------------- -------------------- 7.1/14.3 MB 8.2 MB/s eta 0:00:01
   --------------------- ------------------ 7.7/14.3 MB 8.3 MB/s eta 0:00:01
   ---------------------- ----------------- 8.2/14.3 MB 8.4 MB/s eta 0:00:01
   ------------------------ --------------- 8.7/14.3 MB 8.6 MB/s eta 0:00:01
   ------------------------- -------------- 9.2/14.3 MB 8.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.7/14.3 MB 8.8 MB/s eta 0:00:01
   ---------------------------- ----------- 10.2/14.3 MB 8.9 MB/s eta 0:00:01
   ----------------------------- ---------- 10.7/14.3 MB 10.4 MB/s eta 0:00:01
   ------------------------------- -------- 11.2/14.3 MB 10.9 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.3 MB 10.6 MB/s eta 0:00:01
   --------------------------------- ------ 12.2/14.3 MB 10.4 MB/s eta 0:00:01
   ----------------------------------- ---- 12.6/14.3 MB 10.7 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 10.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 10.9 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 10.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [24]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector
from mysql.connector import Error

# Replace with your MySQL credentials
username = 'root'
password = 'D1sc!pljnA'
host = 'localhost'
database = 'fraud_detection'

# Create a database connection
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Load the CSV file into a DataFrame
file_path = r"C:\Users\Admin\OneDrive\√Årea de Trabalho\IronHAck Labs\Mini_Project_Week_4\credit_card_transactions.csv"  # Use raw string by adding r in front of the path
# Load CSV into DataFrame
transactions_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify
print(transactions_df.head())

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      long city_pop  \
0    Banks      F                561 Perry Cove  ...  -81.1781     3495
1     Gill      F  43039 Riley Greens Suite 393  ... -118.2105      149
2  Sanchez      M      594 White Dale Suite 530  ... -112.2620     4154
3    White      M   9443 Cynthia Court Apt. 038  ... -112.1138     1939
4   Garcia      M              408 Bradley Rest  ...  -79.4629       99

                                 job         dob  \
0          Psychologist, counselling  1988-03-09
1  Special educational needs teacher  1978-06-21
2        Nature conservation officer  1962-01-19
3                    Patent attorney  1967-01-12
4     Dance movement psychotherapist  1986-03-28

                          trans_num   unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459

  is_fraud  merch_zipcode
0        0        28705.0
1        0            NaN
2        0        83236.0
3        0            NaN
4        0        22844.0

[5 rows x 24 columns]

In [25]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name
        )
        if connection.is_connected():
            print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

In [28]:
# Replace the below parameters with your actual database credentials
connection = create_connection(host, username, password, "fraud_detection")

Connection to MySQL DB successful

In [29]:
transactions_df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.100702e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03,4.682575e+04
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02,2.583400e+04
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00,1.001000e+03
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00,2.511400e+04
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00,4.586000e+04
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00,6.831900e+04
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00,9.940300e+04

In [11]:
transactions_df.shape

(1296675, 24)

In [32]:
# Rename the column
transactions_df = transactions_df.rename(columns={'Unnamed: 0': 'cardnumber'})
transactions_df

,cardnumber,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0,NaN
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0,22630.0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0,88351.0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0,69367.0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0,59870.0

In [35]:
from tqdm import tqdm
# Load the DataFrame into the MySQL table
#transactions_df.to_sql('transactions', con=engine, if_exists='append', index=False)

# Define the chunk size
chunk_size = 1000
# Get the total number of chunks
total_chunks = (len(transactions_df) // chunk_size) + 1
# Use tqdm to show the progress bar
with tqdm(total=total_chunks, desc='Loading Data into MySQL') as pbar:
    for i in range(total_chunks):
        # Get the chunk
        chunk = transactions_df.iloc[i * chunk_size:(i + 1) * chunk_size]
        
        # Load the chunk into the MySQL table
        chunk.to_sql('transactions', con=engine, if_exists='append', index=False)
        
        # Update the progress bar
        pbar.update(1)

Loading Data into MySQL: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1297/1297 [05:15<00:00,  4.11it/s]

In [33]:
# Drop the index column
transactions_df = transactions_df.drop(columns=['index'], errors='ignore')
transactions_df.shape

(1296675, 24)

In [23]:
transactions_df["merchant"].nunique()

693